  .header {
    background-color: #00274d; /* UCSC Dark Blue */
    color: #ffd100; /* UCSC Yellow */
    padding: 10px;
    text-align: center;
    position: relative; /* Add this line */
  }
  
  .top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    max-width: 100px; /* Adjust the size as needed */
    margin-right: 10px; /* Add margin if needed */
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
  }
  
  h1 {
    font-size: 3em; /* Make it large */
    color: #ffd100; /* UCSC Yellow */
    margin: 0; /* Reset margin */
  }
  
  .auth-controls {

  }
  
  
  .profile-button-container {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    align-items: center;
  }
  .profile-icon {
    font-size: 24px;
    color: #ffd100; /* UCSC Yellow */
    cursor: pointer;
    margin-bottom: 10px;
  }
  .create-post {
    
  }
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    flex-grow: 1;
    text-align: center;
  }
  
  nav a {
    text-decoration: none;
    color: #ffd100; /* UCSC Yellow */
  }
  